<div class=" m-5">
  <div  id="container-form" class="shadow bg bg-light">

    <h1 class="text-center mt-3">Login</h1>

<!--    <div class="d-flex justify-content-center">-->
<!--      <div class="alert alert-info mt-3">-->
<!--        The arguments with (<span class="text-danger">*</span>), it's mean that's required.-->
<!--      </div>-->
<!--    </div>-->
    <form #form="ngForm" (ngSubmit)="login(form); updateSession(); updateTemplateViewRole();">
      <div class="d-flex justify-content-center  flex-column m-5">
        <div class="username justify-content-center">
          <div id="errorDiv" class="alert alert-danger d-none"></div>
          <label for="mail">
            Email:
          </label>
          <input type="mail" name="mail" id="mail" class="form-control mt-2" [(ngModel)]="credentials.mail">
        </div>
        <div class="username justify-content-center mt-4">
          <label for="password">
            Password:
          </label>
          <input type="password" name="password" id="password" class="form-control mt-2" [(ngModel)]="credentials.password">
        </div>

        <a  class="mt-4 " id="forgot-pass">
          You forgot the password?
        </a>

        <button type="submit" class="btn btn-warning mt-4">Submit</button>
      </div>
    </form>
  </div>
</div>
