

<div class="container m-0 container-principal min-vw-100 p-0">
  <div class="row m-0" >
    <div class="col-sm-3 col-md-2 sidebar " [style]="'padding: 0'" >
      <div class="d-flex flex-column flex-shrink-0   min-vh-100" id="sidebar" style="background: #f5f6fa">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none m-0 p-3" style="text-align: center; " id="container-logo" >
          <img src="assets/imagesLogo/logo3.png"  alt="Page logo"  class="img-fluid"  id="logo" >
        </a>

        <div class="title-nav fw-bold ms-5  mt-2 mt-lg-5 p-3 ps-0  pb-1">User tools</div>
        <ul class="nav nav-pills flex-column mb-auto mt-2 " >
          <li class="nav-item">
            <a  [routerLink]="'home'"  class="nav-link actived m-0 " aria-current="page">
<!--              <svg class="bi pe-none me-2 " width="16" height="16"><use xlink:href="#home"/></svg>-->
              <span class="ms-5 label-link">
                Home
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="readfile" class="nav-link link-body-emphasis m-0">
<!--              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>-->
             <span class="ms-5 label-link">
                Dashboard
             </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-body-emphasis">
<!--              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>-->
              <span class="ms-5 label-link">
                Orders
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-body-emphasis">
<!--              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>-->
              <span class="ms-5 label-link">
                Products
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-body-emphasis">
<!--              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>-->
             <span class="ms-5 label-link">
                Customers
             </span>
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown p-3 ">
          <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-10 p-0   content">
      <nav class="p-4 shadow-sm " id="navbar">
        <input type="text" placeholder="Search..." id="global-search" class="form-control" style="max-width:440px">
      </nav>
      <div id="content"   >
<!--        <h2 class="mb-5">Testing form</h2>-->

<!--        <form [formGroup]="submitFile" (ngSubmit)="uploadClient($event)">-->
<!--          <div>-->
<!--            <label for="file" class="form-label" >Select a CSV file:</label>-->
<!--            <input type="file"   id="file" accept=".csv" class="form-control" formControlName="file">-->
<!--          </div>-->
<!--          <button class="mt-4 btn btn-warning " type="submit" role="button">Submit</button>-->
<!--        </form>-->


        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>



<!--<app-home></app-home>-->



