.content{
  overflow: hidden;
}

.nav-link{
  border-left: 0;
  margin-top: 0;
  border-right: 40px;
  border-radius: 0 40px 40px 0;
  max-width: 80%;
  max-height: 10%;

}



.nav-link:hover{
  background-color: #d8d8dc;
  border-radius: 0 40px 40px 0;

}

.actived{
  background-color: #e8d124;
  color: white;
  border-radius: 0 40px 40px 0;
}

.title-nav{
  color: gray;

}

/*#sidebar{*/
/*  max-height: 100%;*/
/*  overflow: hidden;*/
/*}*/

.sidebar{
  /*background-color: #f4f4f4;*/
  /*position: fixed;*/
  top: 0;
  left: 0;
  height: 100vh; /* Altura de la barra lateral igual al 100% del viewport */
  transform: translateX(0); /* Mostrar la barra lateral por defecto */
  transition: transform 0.3s ease-in-out; /* Agregar una animación de transición */

}


.sidebar-hidden {
  transform: translateX(-100%); /* Esconde la barra lateral fuera de la pantalla */

}

.nav{
  flex-wrap: nowrap;
}






