<div class="container m-0 container-principal min-vw-100 p-0">
  <div class="row m-0" >
    <div class="col-sm-3 col-md-2 sidebar " [style]="'padding: 0'" >
      <div class="d-flex flex-column flex-shrink-0 min-vh-100 " id="sidebar" style="background: #f5f6fa">
        <a [routerLink]="'home'" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none m-0 p-3" style="text-align: center; " id="container-logo" >
          <img src="assets/imagesLogo/logo3.png"  alt="Page logo"  class="img-fluid"  id="logo" >
        </a>
        <ul class="nav nav-pills flex-column mb-auto mt-2 mb-0 " id="list-opt">
          <app-public-menu-opt ></app-public-menu-opt>
          <app-admin-p-menu-opt    *ngIf="userRole=='ROLE_ADMIN_PRINCIPAL'"></app-admin-p-menu-opt>
<!--          <app-admin-r-menu-opt *ngIf="hasRoles(['ADMIN_RESPONSIBLE'])"></app-admin-r-menu-opt>-->
        </ul>


        <hr>
        <div class="dropdown p-3 pt-0" id="perfil">
          <app-profile-options></app-profile-options>

        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-10 p-0   content">
      <nav class="p-4 shadow-sm " id="navbar">
        <input type="text" placeholder="Search..." id="global-search" class="form-control" style="max-width:440px">
      </nav>
      <div id="content"   >
<!--        <h2 class="mb-5">Testing form</h2>-->

<!--        <form [formGroup]="submitFile" (ngSubmit)="uploadClient($event)">-->
<!--          <div>-->
<!--            <label for="file" class="form-label" >Select a CSV file:</label>-->
<!--            <input type="file"   id="file" accept=".csv" class="form-control" formControlName="file">-->
<!--          </div>-->
<!--          <button class="mt-4 btn btn-warning " type="submit" role="button">Submit</button>-->
<!--        </form>-->

<!--        <app-list-book></app-list-book>-->
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>



<!--<app-home></app-home>-->



