<div class="title-nav fw-bold ms-5  mt-2 mt-lg-3 p-3 ps-0 mb-2  pb-1">Public info</div>
<li class="nav-item">
  <a  [routerLink]="'home'"  class="nav-link actived m-0 " aria-current="page">
    <!--              <svg class="bi pe-none me-2 " width="16" height="16"><use xlink:href="#home"/></svg>-->
    <span class="ms-5 label-link">
<!--               <i class="bi bi-house"></i> -->
                Home
              </span>
  </a>
</li>
<li class="nav-item">
  <a routerLink="readfile" class="nav-link link-body-emphasis m-0">
    <!--              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>-->
    <span class="ms-5 label-link">
                Schedules
             </span>
  </a>
</li>
<li class="nav-item">
  <a href="#" class="nav-link link-body-emphasis">
    <!--              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>-->
    <span class="ms-5 label-link">
                Orders
              </span>
  </a>
</li>
<li class="nav-item">
  <a href="#" class="nav-link link-body-emphasis">
    <!--              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>-->
    <span class="ms-5 label-link">
                Products
              </span>
  </a>
</li>
<li class="nav-item">
  <a href="#" class="nav-link link-body-emphasis">
    <!--              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>-->
    <span class="ms-5 label-link">
                Customers
             </span>
  </a>
</li>
